 .initial{
    padding: 30px 30px 40px 20px;
    box-shadow: 0px 0px 10px #000000;
    position: sticky;
    top: 0%;
    background-color: #FBFFF4;
 }

 nav a{
    display: inline;
    font-size: 20px;
    padding: 10px;
    position: relative;
    
 }

 nav a::after{
   content: " ";
   width: 0%;
   height: 1px;
   background-color: #000000;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: 0.2s ease-in-out;
 }

 nav a:hover::after{
   width: 100%;

 }

 h1{
   margin: 2.5em 0px 0px 0;
   text-align: center;
   font-size: 75px;
 }

 p{
  text-align: center;
  font-size: 20px;
 }
 .first-text{
   margin: 2.5em 0px 0px 2em; 
 }

 .second-text{
   margin: 1em 0px 0px 2em; 
 }

div{
   margin: 1em 0px 0px 1.5em;
   text-align: center;
}

img{
   width: 30%;
}

.destaque-first-text{
  margin: 2.5em 0px 0px 2em;
}

.destaque-other-text{
  margin: 1em 0px 0px 2em;
}

.google-maps{
  margin: 3em 0px 0px 0px;
  text-align: center;
}

