@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

section {
  margin: 50px 10px;
  padding: 120px 20px 0;

  @media (max-width: 1000px) {
    margin: 50px 0;
  }
}
